*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

.logo {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.logo-site {
  width: 8.5rem;
}

.header-body {
  font-family: Arial, sans-serif;
  background-color: #4d3f3f;
  width: 100%;
  height: auto;
  display: flex;
}

.header-list {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 5%;
}

/* Common */

ul {
  list-style: none inside none;
}

a {
  padding: 1rem;
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

body {
  background-color: #f0f0f0;
}

img {
  width: 30%;
  height: auto;
}

.text-center {
  padding: 0.5rem;
}

h2 {
  margin: 1rem;
  margin-left: 0;
}

h4 {
  padding: 1rem;
  padding-left: 0;
}

p {
  text-align: justify;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.recipes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipe {
  cursor: pointer;
}

/* Ingredients suggestions */

.suggestions {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 2rem;
}

.suggestion-item {
  cursor: pointer;
}
