.titlesite {
  padding-right: 100rem;
}

.logodusite {
  width: 10rem;
}

.realbody {
  font-family: Arial, sans-serif;
  color: black;
  background-color: #6f6d6d;
}

body {
  background-color: #b4b4b4;
}

h1 {
  text-align: center;
}

img {
  width: 30%;
  height: auto;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.recipes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipe {
  cursor: pointer;
}

.suggestion-item {
  cursor: pointer;
}